Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.1
bleach-allowlist==1.0.3
boto3==1.17.112
botocore==1.20.112
braintree==4.8.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==7.1.2
colorama==0.4.4
coverage==5.5
croniter==1.0.15
cryptography==3.4.8
cssselect==1.1.0
cssutils==2.4.0
dataclasses-json==0.5.7
decorator==5.1.1
Deprecated==1.2.13
docopt==0.6.2
dropbox==11.7.0
email-reply-parser==0.5.12
-e git+https://github.com/frappe/erpnext.git@4389100fa1ec134eb121de275d88d0f1c9d1ec59#egg=erpnext
et-xmlfile==1.1.0
Faker==8.1.4
-e git+https://github.com/frappe/frappe.git@d4841911b80cee9fca42fdab51214b4db7ced897#egg=frappe
future==0.18.2
git-url-parse==1.2.2
gitdb==4.0.9
GitPython==3.1.27
-e git+https://github.com/DataSoft2022/Glass.git@04029beba8adff453a6d6953e0505b8f36523860#egg=glass
gocardless-pro==1.22.0
google-api-core==1.31.5
google-api-python-client==2.2.0
google-auth==1.29.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.56.0
googlemaps==4.4.7
gunicorn==20.1.0
hiredis==2.0.0
html2text==2020.1.16
html5lib==1.1
httplib2==0.20.4
idna==2.10
ipython==7.31.1
isodate==0.6.1
jedi==0.17.2
Jinja2==3.0.3
jmespath==0.10.0
jsonobject==1.0.0
ldap3==2.9.1
lxml==4.8.0
markdown2==2.4.2
MarkupSafe==2.1.1
marshmallow==3.15.0
marshmallow-enum==1.5.1
matplotlib-inline==0.1.3
maxminddb==2.2.0
maxminddb-geolite2==2018.703
mypy-extensions==0.4.3
ndg-httpsclient==0.5.1
num2words==0.5.10
numpy==1.22.3
oauthlib==3.1.1
openpyxl==3.0.9
packaging==21.3
pandas==1.1.5
parse==1.19.0
parso==0.7.1
passlib==1.7.4
paytmchecksum==1.7.0
pbr==5.8.1
pdfkit==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
plaid-python==7.2.1
ply==3.11
premailer==3.8.0
prompt-toolkit==3.0.29
protobuf==3.20.0
psutil==5.8.0
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==20.7.3
pycparser==2.21
pycryptodome==3.10.4
PyGithub==1.54.1
Pygments==2.11.2
PyJWT==1.7.1
PyMySQL==1.0.2
pyngrok==5.0.6
pyOpenSSL==20.0.1
pyotp==2.6.0
pyparsing==3.0.7
PyPDF2==1.26.0
PyPika==0.48.9
pypng==0.0.21
PyQRCode==1.2.1
PySocks==1.7.1
python-dateutil==2.8.2
python-stdnum==1.17
python-youtube==0.8.2
pytz==2021.1
PyYAML==5.4.1
qrcode==7.3.1
rauth==0.7.3
razorpay==1.2.0
redis==3.5.3
redisearch==2.0.0
requests==2.25.1
requests-oauthlib==1.3.1
RestrictedPython==5.2
rmtest==0.7.0
rq==1.8.1
rsa==4.8
s3transfer==0.4.2
-e git+https://github.com/ahmed751995/sap.git@889579c932e1e24005293e9949753173d4ca1ac1#egg=sap
schedule==1.1.0
semantic-version==2.8.5
simple-chalk==0.1.0
six==1.15.0
smmap==5.0.0
soupsieve==2.3.2
sqlparse==0.4.2
stone==3.3.1
stripe==2.56.0
taxjar==1.9.2
tenacity==8.0.1
terminaltables==3.1.10
text-unidecode==1.3
traitlets==5.1.1
tweepy==3.10.0
typing-inspect==0.7.1
typing_extensions==4.1.1
Unidecode==1.2.0
unittest-xml-reporting==3.0.4
uritemplate==3.0.1
urllib3==1.26.9
watchdog==2.0.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.1
Whoosh==2.7.4
wrapt==1.12.1
xlrd==2.0.1
-e git+https://github.com/DataSoft2022/zkconnector.git@a250b1d40cc921ce55b72f857110dd3838de1add#egg=zkconnector
zxcvbn-python==4.4.24
